<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Suite" data-provider-thread-count="5">
    <listeners>
        <listener class-name="Listeners.ExtentReporterListener"></listener>
    </listeners>
    <test name="ClearTrip">
        <classes>
            <class name="Runner.TestRunner"/>
        </classes>
    </test>
</suite>